body{
    font-family: 'Open Sans', sans-serif;
}
.name{
    font: bold;
    font-size: 24pt;
    color: white;
}
#bootover {
    padding: 0%;
    margin-top: 0%;
    border: none;
}
#pcounter {
    padding: 0%;
}
#subcat {
    height: 8%;
}
#bootover >a:hover {
    background: navy;
    border: 1px solid white;
    color: white;

}
#bootover .dropdown-item {
    border: 1px solid navy;
    border-radius: 5px;
    font-size: 18pt;
}
.footer {
    position: fixed;
    bottom: 0;
    height: 60px;
    bottom: 0;
    width: 100%;
}
.footlinks {

color: black;
}
.ptab-img img {
    max-width: 120%;
}
#textcolourover >a {
    color: black;
}
#textcolourover {
    color: black;
}
#textover :hover{
    text-decoration: none;
    color: black;
}
.pcounter{
    max-height: 70%;
}
.cont-head{
    text-align: center;
}
.userimg{
    max-width: 80%;  
}
#info {
    
    color: black;
    text-align: center;
    font-size: 12pt;
}
#info >a:hover{
    color: black
}
.downlinks{
    margin: 5%;
}
#carousel {

 }
#carousel img{
    max-width: 100%;
} */